@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: #22262a;
}
h4,
h1,
h5,
h2,
div,
ul,
img,
p {
  margin: 0;
  padding: 0;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.row {
  display: flex;
}
.header {
  padding: 20px 0;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-weight: 700;
  font-size: 25px;
}
.parent-list {
  display: flex;
  list-style-type: none;
}
.list {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  text-transform: uppercase;
  margin-right: 25px;
}
.hero {
  background-image: url(./images/herobg.png);
  background-repeat: no-repeat;
  height: 100vh;
  background-position: center;
  background-size: cover;
}
.hero_wrapper {
  padding-top: 400px;
  float: right;
}
.hero_suptitle,
.hero_button,
.hero_description,
.hero_title {
  font-style: normal;
}
.hero_suptitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}
.hero_title {
  font-weight: bold;
  font-size: 80px;
}
.hero_description {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 27px;
}
.hero_button {
  background-color: #22262a;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: white;
  text-transform: uppercase;
  border: none;
  outline: none;
  padding: 4px 30px;
  margin-right: 30px;
}
.catalog {
  padding-top: 123px;
}
.catalog__right {
  margin-left: 30px;
  position: relative;
  width: 50%;
}
.catalog__left {
  margin-bottom: 30px;
}
.catalog__img2 {
  margin-bottom: 25px;
}
.catalog__img3 {
  margin-bottom: 22p;
}
.catalog__img1 {
  margin-left: 22px;
}
.catalog__button {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  background-color: white;
  outline: none;
  border: none;
  position: absolute;
  bottom: 30px;
  left: 30px;
  padding: 4px 24px;
  text-transform: uppercase;
}
.section__description,
.section__title {
  font-style: normal;
  text-align: center;
}
.section__title {
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
}
.section__description {
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  margin: 15px 0 65px;
}
.womens, .mens,
.styles {
  padding-top: 114px;
}
.styles__left {
  margin-top: 82px;
  width: 50%;
}
.styles__right {
  position: relative;
  width: 50%;
}
.styles__bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
}
.styles__img--small {
  background-color: white;
  padding: 22px 0 0 22px;
}
.styles__text {
  margin-top: 235px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  text-align: right;
  text-transform: uppercase;
}
.styles__text hr {
  background-color: #22262a;
  width: 100%;
  height: 1px;
  text-transform: uppercase;
}
.styles__img--middle {
  width: 514px;
  height: 451px;
}
.styles__img--small {
  width: 227px;
  height: 281px;
}
.styles__img--small img {
  width: 100%;
  height: 100%;
}
.collection {
  background-image: url(./images/17\ 1.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  background-size: cover;
}
.collection__suptitle {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}
.collection__title {
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 120px;
}
.collection__button {
  background-color: #22262a;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: white;
  border: none;
  outline: none;
  padding: 4px 30px;
  margin-right: 30px;
  text-transform: uppercase;
}
.collection__content {
  padding-top: 400px;
}
.footer__top {
  padding: 115px 0 100px;
  background-color: #f2f8fc;
}
.footer__left {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.footer__logo,
.footer__title {
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 37px;
}
.footer__text,
.footer__mail,
.footer__phone,
.footer__address {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
}
.footer__text {
  margin: 17px 0 40px;
  width: 406px;
}
.footer__row {
  align-items: center;
}
.footer__location {
  margin-right: 25px;
  width: 15px;
  height: 15px;
}
.footer__mail {
  margin: 16px 0 7px;
  border-bottom: 1px solid #22262a;
  width: 237px;
}
.footer__social {
  display: flex;
  margin-top: 16px;
}
.footer__icons {
  width: 17px;
  height: 17px;
}
.footer__list {
  list-style-type: none;
  margin-right: 25px;
}
.footer__form {
  margin: 24px 0 70px;
  position: relative;
}
.footer__input {
  width: 532px;
  height: 42px;
  border-radius: 5px;
  outline: none;
  border: none;
  padding: 0 100px 0 24px;
}
.footer__button {
  position: absolute;
  right: 23px;
  top: 11px;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  background-color: transparent;
  border: none;
  outline: none;
}
.footer__item {
  display: flex;
  flex-direction: column;
}
.footer__name {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 27px;
}
.footer__menu {
  display: flex;
  justify-content: space-between;
}
.menu {
  list-style-type: none;
}
.menu__list {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  margin-bottom: 20px;
}
.footer__bottom {
  background-color: #e7f5f8;
}
.footer__lasttext {
  text-align: center;
}
.swiper-container {
  min-height: 500px;
}
.swiper-pagination-bullet {
 background-color: rgb(46, 22, 180);
  width: 15px;
  height: 15px;
}
.swiper-pagination-bullet-active {
 background-color: rgb(62, 102, 80);
}